/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Roboto+Condensed:wght@300;700&family=Rubik:wght@600&display=swap');

/******** Custom Variables ********/

:root {

  /* colors */
  --c-primary: #cdac82;
  --c-secondary: #47394a;
  --c-primary-dark: #af8e64;

  --tc-beige: #d7d7d7;
  

  /* --c-white: #ffffff;
  --c-blue: #0012A2;
  --c-red: #F12D2D;
  --c-black-text: #000000;
  --c-light-grey: #C0C0C0;
  --c-dark-grey: #4F4F4F;
  --c-primary-text: #FF5600;
  --c-secondary-text: #2D2D2D;
  --c-semi-grey: #666666; */

  /* typography */
  --ff-primary: 'Rubik', sans-serif;
  --ff-secondary: 'Roboto Condensed', sans-serif;
  --ff-tertiary: 'IBM Plex Sans', sans-serif;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--c-black-text);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-tertiary);
  font-size: 14px;
  color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  width: 100%;
  max-width: 1440px;
}

.custom-pad {
  padding: 120px 0;
}
.custom-button {
  margin-right: 55px;
  padding: 20px 40px;
  background-color: var(--c-primary);
  color: #000;
  font-family: var(--ff-secondary);
  font-weight: 700;
  font-size: 16px;
  border-bottom: 3px solid var(--c-primary-dark);
}

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE START 29-07-2022 +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/* HEADER SECTION */
.custom-header {
  position: absolute;
  z-index: 999;
  width: 100%;
}
.custom-header .container-fluid {
  max-width: 1780px;
}
.custom-header .navbar {
  padding: 0;
}
.sw-brand {
  background-color: var(--c-secondary);
  position: relative;
}
.sw-brand::after {
  content: '';
  position: absolute;
  left: -4000px;
  height: 100%;
  width: 4000px;
  background-color: var(--c-secondary);
  top: 0;
}
.navbar-brand img {
  padding: 20px 92px 20px 20px;
}
.custom-navbar-right {
  display: flex;
  align-items: center;
}
.custom-navbar-tel {
  margin-right: 60px;
  color: var(--tc-beige);
  font-family: var(--ff-tertiary);
  font-size: 21px;
font-weight: 400;
}
.custom-navbar-tel span {
  padding-right: 15px;
}

.navbar-toggler {
  margin: 0px;
  padding: 0px;
  height: 24px;
  width: 60px;
  border-radius: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-toggler .icon-bar { width: 60px;height: 2px; background: #fff;transition: .5s ease;}
.offcanvas {background-color: var(--c-secondary);}
.navbar-toggler.toggle-wrap {height: 16px;}
.custom-navbar-toggle:not(.toggle-wrap) .icon-bar {
  margin-right: 0;
}
.custom-navbar-toggle.toggle-wrap .icon-bar:nth-child(1)  {
  width: 30px;
}
.custom-navbar-toggle .icon-bar:nth-child(2)  {
  width: 41px;
}
.custom-navbar-toggle .icon-bar:nth-child(3)  {
  width: 30px;
}
.custom-navbar-toggle.toggle-wrap .icon-bar:nth-child(1){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.custom-navbar-toggle.toggle-wrap .icon-bar:nth-child(2){opacity: 0}
.custom-navbar-toggle.toggle-wrap .icon-bar:nth-child(3){transform:rotate(45deg) translateY(-4px) translateX(-3px);}




/* BANNER SECTION */
.banner-section .carousel-item img {
  height: 964px;
  object-fit: cover;
}
.banner-left-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 80px;
}
.banner-left-wrap .top-text p {
  writing-mode: sideways-lr;
  font-family: var(--ff-secondary);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1.1px;
  color: #454545;
}
.banner-left-wrap .bottom-text a {
  writing-mode: sideways-lr;
  font-family: var(--ff-secondary);
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #454545;
  
}
.banner-left-wrap .bottom-text a span {
  margin-top: 16px;
}
.banner-socials {
  margin-top: 74px;
  margin-bottom: 50px;
}
.banner-socials li {
  padding-bottom: 25px;
}
.banner-socials li a {
  color: #a19ca1;
}
.banner-socials li a i {
  font-size: 15px;
}
/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE START 29-07-2022 +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE START 29-07-2022 +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

































/*===============================Feature-section-css-DP============================*/
.custom-feature{
  background-color: #faf7f2;
}
  

